.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.viewport {
  overflow: hidden;
  width: 100%;
}

.container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(0.5rem * -1);
}
